@model JABlog.Models.Entradas

@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="panel">
        <br />
        <h1 style="text-align:center;">
            Crear la entrada
        </h1>
        <br />
    </div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Blog</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Titulo)
        </div>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-star-empty"></span></span>
            <input type="text" name="Name" id="Name" class="form-control input-lg" placeholder="Nombre" required/>
            @Html.ValidationMessageFor(model => model.Titulo)
		</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Contenido)
        </div>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-bullhorn"></span></span>
            <input type="text" name="Contenido" id="Contenido" class="form-control input-lg" placeholder="Contenido" required/>
             @Html.ValidationMessageFor(model => model.Contenido)
		</div>
        <div class="input-group hidden">
            <span class="input-group-addon"><span class="glyphicon glyphicon-bullhorn"></span></span>
            <input data-val="true" data-val-date="El campo Fecha debe ser una fecha." data-val-required="El campo Fecha es obligatorio." id="Fecha" name="Fecha" type="datetime" value="03/04/2014" required/>
        </div>
        <br />
        <div class="col-md-14">
            <input type="submit" class="btn btn-lg btn-success btn-block" value="Crear">
        </div>
    </fieldset>
}

    <br />
<ul class="nav nav-pills nav-justified" style="margin-bottom:2%">
    <li data-slide-to="0" class="active">@Html.ActionLink("Volver a la lista", "Index")</li> 
</ul>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
