@model JABlog.Models.LocalPasswordModel
<div>
    <h3 style="text-align:center;">Cambiar contraseña</h3>
</div>
@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
        <fieldset>
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <legend></legend>
                <hr class="colorgraph">
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword)
                    <input data-val="true" data-val-required="El campo Nombre de usuario es obligatorio." type="password" name="OldPassword" id="OldPassword" class="form-control input-lg" placeholder="Contraseña Actual">
                </div>
                <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword)
                    <input data-val="true" data-val-required="El número de caracteres de Nueva contraseña debe ser al menos 6." data-val-length-max="100" data-val-length-min="6" type="password" name="NewPassword" id="NewPassword" class="form-control input-lg" placeholder="Nueva Contraseña">
                </div>
                <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    <input data-val="true" data-val-required="El número de caracteres de Nueva contraseña debe ser al menos 6." data-val-equalto-other="*.Password" type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control input-lg" placeholder="Confirmar la Nueva Contraseña">
                </div>
                <hr class="colorgraph">
                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Confirmar contraseña">
		        </div>
            </div>
        </fieldset>
    
    
}
