@model JABlog.Models.Blogger

@{
    ViewBag.Title = "Delete";
}

<br />
<div class="container">
    <div class="panel">
        <br />
        <h1 style="text-align:center;">
            Eliminar el blog
        </h1>
        <br />
    </div>
    <h3 class="warning">¿Estás seguro de eliminar esto?</h3>
    <fieldset>
        <legend>Blog</legend>
        <h2 style="text-align:center;">@Html.DisplayFor(model => model.Name)</h2>
        <br />
        <article id="articulo2">
            @Html.DisplayFor(model => model.Bio)
        </article> <br />
    </fieldset>
    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="col-md-14">
        <input type="submit" class="btn btn-lg btn-success btn-block" value="Eliminar">
    </div>
    }
    <br />
    <ul class="nav nav-pills nav-justified" style="margin-bottom:2%">
        <li data-slide-to="0" class="active">@Html.ActionLink("Volver a la lista", "Index")</li> 
    </ul>
</div>


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Blogger</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bio)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
